<% include ./_head %>
<% include ./_navbar %>
<body class="blackGround">
  <div id="page-wrapper" class="container col-xs-6 col-xs-offset-3">
    <header class="page-header text-center">
      <h1>COURIER</h1>
    </header> 
    <div class="text-centerc" id="jobs-list">
      <div>
        <h2><a href="#">queue</a></h2>
        <ul class="jobs list-group">
          <% var incrementer = 0; %>
          <% jobs.forEach(function(job) { %>
          <!-- SET CONDITION BELOW FOR COOKIES -->
          <% if (!job.rider && job.completed === false) { %>
          <li class="job list-group-item text-center" data-id="<%= job._id %>">
            <span data-id="<%= job._id %>" class="btn btn-primary remove glyphicon glyphicon-minus"></span>
            <a class="btn btn-danger" role="button" data-toggle="collapse" href="#<%= job._id %>" aria-expanded="false" aria-controls="<%= job._id %>" id="ticket<%= incrementer %>" href="<%= job._id %>">
              <%= job.address %>, <%= job.phone %>
            </a>
            <span data-id="<%= job._id %>" class="btn btn-primary claim glyphicon glyphicon-plus"></span>
            <div class="collapse" id="<%= job._id %>">
              <div class="well text-center">
                <%= job.name %>, <%= job.address %>, <%= job.phone %><br>
                <%= job.order_contents %><br>
                CASH: <%= job.cash_payment %>, DELIVERY FEE: <%= job.delivery_fee %>, TIP: <%= job.delivery_tip %><br>
                <%= job.date %>
              </div>
            </div>
          </li>
          <% incrementer++ %>
          <% }}) %>
        </ul>
      </div>
      <div>
        <h2><a href="#">my jobs</a></h2>  
        <ul class="myjobs list-group">
          <% var incrementer = 0; %>
          <% jobs.forEach(function(job) { %>
          <% if (job.rider == userid && job.completed === false) { %>
          <li class="job list-group-item text-center" data-id="<%= job._id %>">
            <span data-id="<%= job._id %>" class="btn btn-primary glyphicon glyphicon-minus returnToQueue"></span>
            <a class="btn btn-danger" role="button" data-toggle="collapse" href="#<%= job._id %>" aria-expanded="false" aria-controls="<%= job._id %>" id="ticket<%= incrementer %>" href="<%= job._id %>">
              <%= job.address %>, <%= job.phone %>
            </a>
            <span data-id="<%= job._id %>" class="btn btn-primary glyphicon glyphicon-plus complete"></span>
            <div class="collapse" id="<%= job._id %>">
              <div class="well text-center">
                <%= job.name %>, <%= job.address %>, <%= job.phone %><br>
                <%= job.order_contents %><br>
                CASH: <%= job.cash_payment %>, DELIVERY FEE: <%= job.delivery_fee %>, TIP: <%= job.delivery_tip %><br>
                <%= job.date %>
              </div>
            </div>
          </li>
          <% incrementer++ %>
          <% }}) %>
        </ul>
      </div> 
      <div>
        <h2><a href="#">completed jobs</a></h2>
        <ul class='mycompletedjobs list-group'>
          <% var incrementer = 0; %>
          <% jobs.forEach(function(job) { %>
          <% if (job.rider == userid && job.completed === true) { %>
          <li class="job list-group-item text-center" data-id="<%= job._id %>">
           <span data-id="<%= job._id %>" class="btn btn-primary glyphicon glyphicon-minus returnToMyJobs"></span>
           <a class="btn btn-danger" role="button" data-toggle="collapse" href="#<%= job._id %>" aria-expanded="false" aria-controls="<%= job._id %>" id="ticket<%= incrementer %>" href="<%= job._id %>">
             <%= job.address %>, <%= job.phone %>
           </a>
           <span data-id="<%= job._id %>" class="btn btn-primary glyphicon glyphicon-plus complete"></span>
           <div class="collapse" id="<%= job._id %>">
             <div class="well text-center">
              <%= job.name %>, <%= job.address %>, <%= job.phone %><br>
              <%= job.order_contents %><br>
              CASH: <%= job.cash_payment %>, DELIVERY FEE: <%= job.delivery_fee %>, TIP: <%= job.delivery_tip %><br>
              <%= job.date %>
            </div>
          </div>
        </li>
        <% incrementer++ %>
        <% }}) %>
      </ul>
    </div> 
  </div>
</div>
</body>



