<% include ./_head %>
<% include ./_navbar %>
<body class="blackGround">
  <div id="page-wrapper" class="container col-xs-6 col-xs-offset-3">
    <header class="page-header text-center">
      <h1>Courier</h1>
    </header> 
    <div id="jobs-list">
      <div>
        <h2>queue</h2>
        <ul class="jobs list-group">
        <% var incrementer = 0; %>
          <% jobs.forEach(function(job) { %>
          <% if (!job.rider) { %>
          <li class="job list-group-item" data-id="<%= job._id %>">
            <span data-id="<%= job._id %>" class="btn btn-default remove glyphicon glyphicon-minus"></span>
            <a id="ticket<%= incrementer %>" href="#">
              <%= job.address %> ,<%= job.date %>
            </a>
            <span data-id="<%= job._id %>" class="btn btn-default claim glyphicon glyphicon-plus"></span>
          </li>
          <% incrementer++ %>
          <% }}) %>
        </ul>
      </div>
      <div>
        <h2>my jobs</h2>  
        <ul class="myjobs list-group">
        </ul>
      </div> 
      <div>
        <h2>completed jobs</h2>
        <ul class='mycompletedjobs list-group'>
        </ul>
      </div> 
    </div>
  </div>
</body>



