<!DOCTYPE html>
<html>
<head>
  <title>#messlife</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="/js/app.js"></script>
</head>
<body id="courier">
  <div id="page-wrapper" class="container col-xs-6 col-xs-offset-3">
    <header class="page-header text-center">
      <h1>Courier</h1>
        <div>
          <h2>queue</h2>
          <ul class="jobs list-group" id="jobs">
            <% jobs.forEach(function(job) { %>
              <li class="job list-group-item">
              <a href="/api/courier/<%= job._id %>">
              <%= job.name %> 
              <%= job.address %>  
              <%= job.phone %> 
              <%= job.order_time %> 
              <%= job.order_contents %> 
              <%= job.delivery_fee %> 
              <%= job.delivery_tip %> 
              <%= job.riders %> 
              <span data-id="<%= job._id %>" class="btn btn-primary claim">claim</span>
              </a>
              </li>
            <% }) %>
          </ul>
        </div>
        <div>
          <h2>my jobs</h2>
          <img src="http://placehold.it/350x150">
          <ul class="myjobs">
          </ul>
        </div> 
        <div>
          <h2>completed jobs</h2>
          <img src="http://placehold.it/350x150">
          <ul class='mycompletedjobs'>
          </ul>
        </div> 
      </header>  
  </div>
</body>
</html>


