<!DOCTYPE html>
<html>
<% include ./_head %>
<body class="blackGround">
  <% include ./_navbar %>
  <div id="page-wrapper" class="container col-xs-6 col-xs-offset-3">
    <header class="page-header text-center">
      <h1>Courier</h1>
      <div>
        <h2>queue</h2>
        <ul class="jobs list-group">
          <% jobs.forEach(function(job) { %>
          <li class="job list-group-item">
            <a href="/api/courier/<%= job._id %>">
              <%= job.name %> 
              <%= job.address %>  
              <%= job.phone %> 
              <%= job.order_time %> 
              <%= job.order_contents %> 
              <%= job.delivery_fee %> 
              <%= job.delivery_tip %> 
              <%= job.riders %> 
              <span data-id="<%= job._id %>" class="btn btn-primary claim">claim</span>
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
      <div>
        <h2>my jobs</h2>  
        <ul class="myjobs">
        </ul>
      </div> 
      <div>
        <h2>completed jobs</h2>
        <ul class='mycompletedjobs'>
        </ul>
      </div> 
    </header>  
  </div>
</body>
</html>


