<% include ./_head %>
<% include ./_navbar %>
<body class="blackGround">
  <div id="page-wrapper" class="container col-xs-6 col-xs-offset-3">
    <header class="page-header text-center">
      <h1>COURIER</h1>
    </header> 
    <div class="text-centerc" id="jobs-list">
      <div>
        <h2>queue</h2>
        <ul class="jobs list-group">
          <% var incrementer = 0; %>
          <% jobs.forEach(function(job) { %>
          <!-- SET CONDITION BELOW FOR COOKIES -->
          <% if (!job.rider && job.completed === false) { %>
          <li class="job list-group-item" data-id="<%= job._id %>">
            <span data-id="<%= job._id %>" class="btn btn-default remove glyphicon glyphicon-minus"></span>
            <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="ticket<%= incrementer %>" href="<%= job._id %>">
              <%= job.address %> ,<%= job.date %>
            </a>
            <span data-id="<%= job._id %>" class="btn btn-primary claim glyphicon glyphicon-plus"></span>
            <div class="collapse" id="collapseExample">
              <div class="well">
                <%= job.name %>
                <%= job.address %> 
                <%= job.phone %>
                <%= job.order_time %>
                <%= job.order_contents %>
                <%= job.delivery_fee %>
                <%= job.delivery_tip %>
                <%= job.riders %>
              </div>
            </div>
          </li>
          <% incrementer++ %>
          <% }}) %>

        </ul>
      </div>
      <div>
        <h2>my jobs</h2>  
        <ul class="myjobs list-group">
          <% var incrementer = 0; %>
          <% jobs.forEach(function(job) { %>
          <% if (job.rider == userid && job.completed === false) { %>
          <li class="job list-group-item" data-id="<%= job._id %>">
            <span data-id="<%= job._id %>" class="btn btn-default returnToQueue glyphicon glyphicon-minus"></span>
            <a id="ticket<%= incrementer %>" href="/fulljob/<%= job._id %>">
              <%= job.address %> ,<%= job.date %>
            </a>
            <span data-id="<%= job._id %>" class="btn btn-default complete glyphicon glyphicon-plus"></span>
          </li>
          <% incrementer++ %>
          <% }}) %>
        </ul>
      </div> 
      <div>
        <h2>completed jobs</h2>
        <ul class='mycompletedjobs list-group'>
          <% var incrementer = 0; %>
          <% jobs.forEach(function(job) { %>
          <% if (job.rider == userid && job.completed === true) { %>
          <li class="job list-group-item" data-id="<%= job._id %>">
            <span data-id="<%= job._id %>" class="btn btn-default returnToMyJobs glyphicon glyphicon-minus"></span>
            <a id="ticket<%= incrementer %>" href="#">
              <%= job.address %> ,<%= job.date %>
            </a>
          </li>
          <% incrementer++ %>
          <% }}) %>
        </ul>
      </div> 
    </div>
  </div>
</body>



