<ul class="jobs list-group">
	<li class="job list-group-item">
		<%= job.name %>
		<%= job.address %> 
		<%= job.phone %>
		<%= job.order_time %>
		<%= job.order_contents %>
		<%= job.delivery_fee %>
		<%= job.delivery_tip %>
		<%= job.riders %>
	</li>
</ul>
<!-- <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Link with href
</a>
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Button with data-target
</button>
<div class="collapse" id="collapseExample">
  <div class="well">
    ...
  </div>
</div>
 -->